@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-family: 'Inconsolata';
    background-color: rgb(28, 1, 86);
}

main {
    min-height: 100vh;
    padding: 25px;
    background: url(../../assets/images/pattern-lines.svg), url(../../assets/images/pattern-squiggly-line-bottom-desktop.svg), url(../../assets/images/pattern-squiggly-line-top.svg), url(../../assets/images/pattern-circle.svg);
    background-repeat: no-repeat, repeat, no-repeat;
    background-position: center, center;
    background-size: auto, cover, 700px;
    background-position: center center,
        center bottom,
        right top -70px,
        75% 55%;
}

.project-logo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.project-title {
    margin: auto;
    max-width: 700px;
    padding: 10px;
    font-size: 50px;
}

.project-desc {
    color: hsl(252, 6%, 83%);
}

form {
    margin: auto;
    /* display: none; */
    flex-direction: column;
    max-width: 500px;
}

.name,
.email,
.gitHub {
    color: hsl(0, 0%, 100%);
    display: flex;
    width: 100%;
    padding: 15px;
    background: rgba(255, 255, 255, 0.06);
    background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    background-repeat: no-repeat;
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid hsl(0, 0%, 100%);
    outline: none;
    font-family: 'Inconsolata';
    font-size: 1em;
    transition: all .3s ease;
}

form .name:focus,.email:focus,.gitHub:focus{
    outline: 2px solid hsl(0, 0%, 100%);
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-field {
    margin-bottom: 20px;
}

.upFile-div {
    position: relative;
    cursor: pointer;
    background:
        repeating-linear-gradient(to right, hsl(0, 0%, 100%) 0 5px, transparent 5px 12px) top,
        repeating-linear-gradient(to right, hsl(0, 0%, 100%) 0 5px, transparent 5px 12px) bottom,
        repeating-linear-gradient(to bottom, hsl(0, 0%, 100%) 0 5px, transparent 5px 12px) left,
        repeating-linear-gradient(to bottom, hsl(0, 0%, 100%) 0 5px, transparent 5px 12px) right,
        rgba(255, 255, 255, 0.06);
    background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    transition: all .3s ease;
}

.upFile-div:hover {
    background: rgba(255, 255, 255, 0.121);
}

.upFile-label {
    text-align: center;
}

#upFile {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.after-upload {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.remove-image-btn,
.change-image-btn {
    width: 120px;
    height: 30px;
    background: rgba(255, 255, 255, 0.129);
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    text-decoration: underline;
    color: hsl(0, 0%, 100%);
    font-family: 'Inconsolata';
}

.change-image-btn {
    position: relative;
}

.change-image-btn p {
    z-index: -1;
    position: absolute;
    top: 5px;
    left: 10px;
}

.change-image-btn input {
    opacity: 0;
}

.upFIle-desc {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    padding: 10px 0;
    letter-spacing: 1px;
    color: hsl(252, 6%, 83%);
}

.error {
    color: red !important;
}

.generate-btn {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    background-color: hsl(7, 88%, 67%);
    color: hsl(248, 70%, 10%);
    font-weight: bold;
    font-family: 'Inconsolata';
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
    outline: none;
}

.generate-btn:hover {
    background-color: hsl(7, 71%, 60%);

}

.ticket-container {
    display: none;
}

.name-span {
    background: -webkit-linear-gradient(left, hsl(0, 0%, 100%) 30%, hsl(7, 71%, 60%) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.email-span {
    color: hsl(7, 88%, 67%);
}

.ticket {
    display: flex;
    margin: 30px auto;
    max-width: 490px;
    height: 200px;
    padding: 7px 15px;
    border: 1px solid hsl(0, 0%, 100%);
    background: rgba(255, 255, 255, 0.063);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}

.ticket-left {
    width: 70%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.ticket-data {
    display: flex;
    gap: 15px;
}

.ticket-header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ticket-info {
    color: hsl(252, 6%, 83%);
}

.ticket-user-data {
    display: flex;
    gap: 10px;
}

.ticket-user-info {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.ticket-user-name {
    display: flex;
}

.ticket-user-icon {
    max-width: 60px;
    max-height: auto;
    border-radius: 10px;
}

.ticket-right {
    width: 30%;
    position: relative;
    border-left: 1px dashed hsl(0, 0%, 100%);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.ticket-right::before,
.ticket-right::after {
    z-index: 999;
    content: "";
    position: absolute;
    display: block;
    width: 1.8em;
    height: 1.5em;
    background: rgb(28, 1, 86);
    border-radius: 50%;
    left: -1em;
}

.ticket-right::before {
    top: -1em;
}

.ticket-right::after {
    bottom: -1em;
}

.ticket-number {
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 90deg;
    transform: translateX(80px);
    color: hsl(252, 6%, 83%);
    font-size: 1.4em;
}

@media(max-width: 410px) {
    .ticket-left {
        gap: 15px;
    }

    .ticket>* {
        width: 400px;
    }
}